<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>loginregister</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>lgin</display-name>
    <servlet-name>lgin</servlet-name>
    <servlet-class>lgin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lgin</servlet-name>
    <url-pattern>/lgin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginRegister</display-name>
    <servlet-name>LoginRegister</servlet-name>
    <servlet-class>LoginRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRegister</servlet-name>
    <url-pattern>/LoginRegister</url-pattern>
  </servlet-mapping>
</web-app>